body {
	font-family: Verdana, sans-serif;
	color:black;
}

/* img {
  padding: 10px;
} */

.row.row-gutter{
   margin-top: 20px;
	 margin-left: 0px;
}

.meaninglogo {
	width: 100%;
	/* 120px 20px 120px 20px; */
}

.button {
	margin: 1em 0 1.25em 0;
}

.mellow {
	padding-bottom: 10px;
	width: 80px;
}

.example {
	width: 175px;
	padding: 10px 10px 20px 10px;
}

.friends {
	width: 200px;
	padding: 20px 10px 20px 10px;
}

.picture {
    margin: 40px 40px 40px 40px;
		display: inline-block;
		padding: 35px 35px 35px 35px;
		border: solid;
}

.picture:empty{
    border: none;
}
